{% extends 'base.html' %}
{% block content %}

<ul id="accordion">
    {% for task in appointment %}
    <li>
        
        <div class="card">
                <div class="card-header" id="headingOne">       
                    <h5 class="mb-0">
    
                    <i class="fas fa-expand-arrows-alt"></i>
                    <a href="{{url_for('delete_appointment',  task_id = task._id)}}" class="btn btn-secondary btn-sm">Done</a>
                    <a href="{{url_for('edit_appointment',  task_id = task._id)}}" class="btn btn-primary btn-sm">Edit</a>
                         
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>{{ task['dept_name'] }} - {{ task['service'] }}</strong>
                        </button>
                    </h5>
                </div>  
                
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                        <ol>
                            <li>{{ task['task_description'] }} - {{ task['date_time'] }}</li>
                            <p>Urgent: {{ task['is_urgent'] }}</p>                             
                        </ol>                
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

  
              
{% endblock %}