{% extends 'base.html' %}
{% block content %}

    <ul class="collapsible" data-collapsible="accordion">
    {% for task in appointment %}  
    <li>
        <div class="collapsible-header">
            <div class="col s3">
               <i class="material-icons">expand_more</i>
               <a href="#" class="waves-effect waves-light btn btn_small">Done</a>
               <a href="#" class="waves-effect waves-light btn btn_small blue">Edit</a>
            </div>
            <div class="task_header col s9">
                <strong>{{task.site_name}} - {{task.task_name}}</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <ol>
                <li>{{task.task_description}} - {{task.due_date}}</li>
                <p>Schedule owner: {{task.user}}</p>                             
            </ol>                
        </div>
    </li>
    {% endfor %}   
    </ul>
              
{% endblock %}