{% extends 'base.html' %}
{% block content %}
<h2>{{ page_title }} <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
</span></h2>

    
       
        <div class="card">
                <div class="card-header" id="headingOne">       
                    <h5 class="mb-0">
    
                    <i class="fas fa-expand-arrows-alt"></i>
                   <a href="{{url_for('department',  dept_id=department._id)}}" class="btn btn-primary btn-sm">Edit</a>
                         
                        <button class="btn btn-l ink" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>{{ department.dept_name }}</strong>
                       
                        <div>
                            <img class="card-img-top" src="{{ department.img_url }}" alt="{{ department.dept_name }}">
                        </div>
                    </h5>
                        <div>
                            <h3>{{ department.dept_info }}</h3>    
                        </div>
                        <div>
                            <ul>
                                {% for item in department.service[0:] %}
                                <li>
                                {{item[0:]}}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        
                        </button>
                    
                </div>  
                
                
        </div>
        
             
{% endblock %}