{% extends 'base.html' %}
{% block content %}

<div class="mt-3">
    <div class="row flex-column-reverse flex-md-row">

        <div class="col-sm-12 col-md-8">
            <div class="card">
                <div class="box">
                    <div class="card-header">
                        <div class="img">
                            <img class="card-img-top" src="{{ department.img_url }}" alt="{{ department.dept_name }}">
                        </div>
                        <div class="row">
                            <form action="{{ url_for('add_favourite', dept_id=department._id, user_id=user_id) }}"
                                method="POST">
                                <button value="{{ department._id }}" type="submit" name="action" class="btn btn-outline-success btn-md"
                                    aria="true" data-toggle="tooltip" data-placement="right" title="Add to favourites">
                                    <span class="fa-urgent"><i class="fas fa-heart"></i></span><b> {{
                                        department.dept_name }}</b></button>
                            </form>
                        </div>
                        <div class="card-title">
                            <div class="row mt-1">
                                <h4 class="mt-2 ml-2"><i class="far fa-user-circle"></i> Manager:
                                    {{department.dept_owner}}</h4>
                            </div>
                            <div class="row mt-1">
                                <h4 class="mt-2 ml-2"><i class="fas fa-info-circle"></i> Information: </h4>
                            </div>
                            <div class="row">
                                <div class="card-text mt-2 ml-2">
                                    <p>{{ department.dept_info }}</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row mt-2">
                        <ul>
                            {% for item in department.service[0:] %}
                            <li>
                                {{ item[0:] }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="box">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <b>Main Contact:</b>
                                </div>
                                <div class="row">
                                    <p><span>Phone:</span> {{ department.main_contact[0:][0].phone }}</p>   
                                </div>
                                <div class="row">
                                   <p><span>E-mail: </span><a href="mailto:{{ department.main_contact[0:][0].email }}">{{department.main_contact[0:][0].email}}</a></p> 
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="row">
                                    <b>Where to find us: </b>
                                </div>
                                <div class="row">
                                    <p><span>Location: </span>{{ department.site[0:][0].location }}</p>
                                </div>
                                <div class="row">
                                    <p><span>Phone: </span>{{ department.site[0:][0].phone }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a href="{{ url_for('edit_department',  dept_id=department._id, user_id=user_id) }}"
                                    class="btn btn-success btn-md">Edit</a>
                                <a href="{{ url_for('get_departments', user_id=user_id) }}" class="btn btn-dark btn-md mx-3 btn-fixed">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 flex-first mb-sm-3">
            <div class="card mt-1">
                <h2 class="card-header">{{ page_title }}
                    <i class=" fas
                    fa-clinic-medical fa-inverse"></i>
                </h2>
                <div class="card-body">
                    <p>Information about the department</p>
                    <p>Select edit to change the contact information about the department</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}