{% extends 'base.html' %}
{% block content %}

<h3>Edit Task!</h3>
<div class="row">
    <form action="{{url_for('insert_appointment')}}" methods="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
              <i class="far fa-address-book prefix"></i>            
                <select id="departments" name="dept_name">
                    <option value="" class="dept" disabled selected>Choose a department</option>
                    {% for cat in departments %} 
                      {% if cat.dept_name == task.dept_name %}
                        <option value="{{cat['dept_name']}}" selected >{{cat['dept_name']}}</option>
                      {% else %}
                        <option value="{{cat['dept_name']}}">{{cat['dept_name']}}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                <label>Department</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-cogs prefix"></i>              
                  <select id="service" name="service">
                    <option id="service" value="{{task['service']}}" selected >{{task['service']}}</option>
                      
                  </select>
                  <label>Service</label>
              </div>
          </div>
      <div class="row">
          <div class="input-field col s12">
              <i class="far fa-clipboard prefix"></i>
            <input id="task_name" name="task_name" type="text" class="validate" value="{{task['task_name']}}">
            <label for="icon_prefix">Appointment Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
              <i class="far fa-sticky-note prefix"></i>
            <textarea name="task_description" id="task_description" class ="materialize-textarea"/>{{task['task_description']}}</textarea>
            <label for="icon_telephone">Appointment Description</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <i class="far fa-calendar-check prefix"></i>
            <input id="sched_date" name="sched_date" type="text" class ="datepicker materialize-textarea" /></input>
            <label for="icon_prefix">Original Date {{task['sched_date']}}</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <i class="fas fa-clock prefix"></i>
              <input id ="sched_time" name ="sched_time" type="text" class ="timepicker materialize-textarea"></input>
              <label for ="icon_prefix">Original Time {{task['sched_time']}}</label>
          </div>
        </div>
      <div class="row">
        <div class="switch">
          <label>
              {% if task['is_urgent'] %}
            <input id="is_urgent" name="is_urgent" type="checkbox" checked>
            {% else %}
            <input id="is_urgent" name="is_urgent" type="checkbox">
            {% endif %}
            <span class="lever"></span>
            Is Urgent
          </label>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary btn-sm" type="submit" name="action">Edit Task
            <i class="fas fa-folder-plus"></i>
        </button>
      </div>
    </form>
  </div>


{% endblock %}