{% extends 'base.html' %}
{% block content %}
<h2>{{ page_title }} <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
    </span></h2>   
<div class="box">  
    <div class="card-header">     
        <div class="row">
                <form action ="{{url_for('update_department', dept_id=department._id, user_id = user_id)}}" method="POST" class= "col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <b>Department:</b> <br />                        
                            Name: <input id="dept_name" name="dept_name" type="text" class="validate" value="{{department.dept_name}}"/><br />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-4">                            
                                <b>Main Contact:</b><br />
                                Phone: <input id="phone" name="phone1" type="tel"  class="validate" value="{{department.main_contact[0:][0].phone}}" required/><br />
                                <br />
                                E-mail: <input id="email" name="email" type="email"  class="validate" value="{{department.main_contact[0:][0].email}}" required/><br />
                                <br />
                                <b>Where to find us:</b> <br />
                                Location: {{department.site[0:][0].location}}<br />
                                <br />
                                Phone: <input name="phone2" type="tel"  class="validate" value="{{department.site[0:][0].phone}}" required/><br />
                                <br />
                                <!-- Phone: {{department.site[0:][0].phone}}<br /> -->
                            </div>
                    </div>
                    <div class="row">
                        <h5 class="col-md-4">
                        <button class="btn btn-primary btn-sm" type="submit" name="action">Update Department
                            <i class="fas fa-folder-plus"></i>
                        </button>
                        <a href="{{url_for('get_departments, user_id = user_id')}}" class="btn btn-primary btn-sm">Cancel</a><br />
                        <br />
                        <a href="{#{url_for('delete_department', dept_id = department._id , user_id = user_id)}#}" class="btn btn-secondary btn-sm">Delete Department</a>
                        </h5>
                    </div>
                </form>
            </div>
       </div>  
    </div>  
       
    <!-- <h3>Change the Services!</h3>       
        
        <div class="row">
            <form  action ="{{url_for('update_service', serv_id=department._id)}}" method="POST" class= "col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-address-book prefix"></i>                     
                        <ol id="service" class="form-group list-group">                            
                            {% for item in department.service[0:] %}                                
                                <li>{{"%s\n"|format(item)}}
 -->


                                    <!-- <div class="add-remove-element">
                                        <button onclick="add_service(this)" class="add-element btn btn-info btn-sm" type="button"><i class="fas fa-folder-plus"></i></button>
                                        <button onclick="remove_service(this)" class="add-element btn btn-warning btn-sm" type="button"><i class="fas fa-folder-minus"></i></button>
                                    </div> -->
                                <!-- 
                                    <input name="service-{{loop.index}}" value="{{item[0:]}}" id="service" type="text" class="col-8 form-control" placeholder="Your New Service Here" minlength="3" maxlength="30"/>
                                </li>
                              {% endfor %}
                            </input>
                        </ol>
                       <label for="service">Change Service Name</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary btn-sm" type="submit" name="action">Edit Service
                        <i class="fas fa-folder-plus"></i>
                    </button>
                </div>
            </form>
        </div> -->
    
{% endblock %}