{% extends "base.html" %} 

{% block page_title %}
Login
{% endblock page_title %}

{% block page_heading %}
User Login
{% endblock page_heading %}

{% block content %}
<div>
    <p>To Register, <a href="{{ url_for('register') }}">Sign up here</a></p>
</div>


<form method=POST action="{{url_for('login')}}">
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="pass" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>



{% endblock content %}