{% extends "base.html" %} 

{% block page_title %}
Login
{% endblock page_title %}

{% block page_heading %}
User Login
{% endblock page_heading %}

{% block content %}
<h2>{{ page_title }} <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>    
</span></h2>
<div>
    <p>To Register, <a href="{{ url_for('register') }}">Sign up here</a></p>
</div>


<form method=POST action="{{url_for('login')}}">
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="current-password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>



{% endblock content %}