{% extends 'base.html' %}
{% block content %}

    <ul class="collapsible" data-collapsible="accordion">
    {% for site in facility %}  
    <li>
        <div class="collapsible-header">
            <div class="col s3">
               <i class="material-icons">expand_more</i>
               <a href="#" class="waves-effect waves-light btn btn_small">Done</a>
               <a href="#" class="waves-effect waves-light btn btn_small blue">Edit</a>
            </div>
            <div class="task_header col s9">
                <strong>{{site.site_name}}</strong> 
            </div>
        </div>
        <div class="collapsible-body">
            <ol>
                {% for service in appointment %}
                <li>{{service.dept[0]}} - {{service.task_name[0]}} - {{service.sched_datetime}}</li>                             
                {% endfor %} 
            </ol>                
        </div>
    </li>
    {% endfor %}   
    </ul>
              
{% endblock %}